*.DS_Store

# Ignore Binaries, Object Files and Linker Scripts (should be built locally)
**/build
**.lst
**.o 

# Specific files
src/stm32/.dependencygraph

src/stm32/.vscode/*
!src/stm32/.vscode/c_cpp_properties*.json
!src/stm32/.vscode/tasks.json